NAMES & IDs: 
Bryant Liu - 
Jingyao Chen - A92071265
Joseph D’Angelo
Tammy Lee - A13573330

OVERVIEW: 
Include 3-4 sentences summarizing your group’s project

RESEARCH QUESTION: 
What is your research question? (1-2 sentences)

HYPOTHESIS: 
What is your main hypothesis and predictions? Briefly explain why. (2-3 sentences)

BACKGROUND & PRIOR WORK: Why is this question of interest to your group? What background information led you to your hypothesis. Why is this important? 
Find some relevant prior work, and reference those sources. Even if you think you have a totally novel question, find the most similar prior work that you can and discuss how it relates to your project. 
References can be research publications, but they need not be. Blogs, GitHub repositories, company websites, etc., are all viable references if they are relevant to your project. (2-3 paragraphs, including at least 2 references)

DATASET(S): 
What data will you use to answer your question? Describe the dataset(s) in terms of number of observations, what kind of features it contains, etc. You must use at least one dataset containing at least approximately 1000 observations (if your data are smaller but you feel they are sufficient, email Prof. Ellis). You are welcome (and in fact recommended) to find multiple datasets! If you do so, describe each one, and briefly explain how you will combine them together. Include the source of the dataset in the description here.

DATA CLEANING: 
What methods did you use to analyze your data? Briefly explain what steps you had to take before you were able to use the datasets you chose to answer your question of interest. 
- How 'clean' is the data? - What did you have to do to get the data into a usable format? - What pre-processing steps that were required for your methods (for example, checking data distributions 
and performing any transformations that may be required)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df_income = pd.read_csv('irs-zipcode.csv')
# Change column name using second row
df_income.columns = df_income.iloc[2]
# Drop 0th, 1st, nan rows; select 'Number of returns' and 'Amount' of 'Total income' columns 
df_income = df_income.drop([0, 1])
df_income = df_income.set_index('ZIP\ncode [1]')
df_income = df_income.drop(['ZIP\ncode [1]'])
df_income_selected = df_income.iloc[:, [16, 17]]
df_income_selected = df_income_selected.dropna()
df_income_selected.columns = ['Number of returns', 'Amount']
# Drop zip code 00000 and 99999
df_income_selected = df_income_selected.drop(['00000', '99999'])
# Drop all rows but the first, which is total returns and amount
df_income_selected = df_income_selected.loc[~df_income_selected.index.duplicated(keep='first')]
df_income_selected = df_income_selected.reset_index()
df_income_selected = df_income_selected.drop([0])

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

     ZIP\ncode [1] Number of returns     Amount
1            90001            21,670    619,635
2            90002            19,890    563,172
3            90003            27,290    730,810
4            90004            27,810  1,995,586
5            90005            15,850    807,743
6            90006            23,010    685,595
7            90007            12,620    382,443
8            90008            15,040    791,390
9            90010             2,430    533,018
10           90011            38,350  1,026,864
11           90012            11,830    695,466
12           90013             4,440    334,702
13           90014             3,490    285,454
14           90015             8,650    624,512
15           90016            22,390    955,111
16           90017             9,590    679,732
17           90018            22,070    833,073
18           90019            29,240  1,570,382
19           90020            18,070  1,205,218
20           90021             1,380    144,916
21           90022            27,720    940,697
22           90023            18,190    565,031
23           90024            15,130  5,508,452
24           90025            25,630  5,081,001
25           90026            31,710  1,715,299
26           90027            23,720  2,122,920
27           90028            15,270    750,675
28           90029            17,010    643,743
29           90031            16,600    619,376
30           90032            19,840    836,509
...            ...               ...        ...
1454         96067             3,510    197,331
1455         96069               340     18,771
1456         96073             2,190    198,518
1457         96080            11,650    600,476
1458         96088             1,880     96,288
1459         96091               240     13,100
1460         96094             2,730    136,224
1461         96096               300     17,483
1462         96097             4,310    202,531
1463         96101             2,010     95,442
1464         96103               760     49,410
1465         96104               340     14,857
1466         96105               170      9,419
1467         96107               420     19,600
1468         96109               320     15,427
1469         96114             1,210     84,478
1470         96117               140      7,103
1471         96118               610     29,501
1472         96120               380     21,363
1473         96121               160      9,690
1474         96122             1,660     79,700
1475         96124               130      7,461
1476         96125               100      5,300
1477         96128               240     14,766
1478         96130             5,910    328,792
1479         96134               850     38,056
1480         96137             1,180     64,881
1481         96146               710     66,549
1482         96150             8,090    442,448
1483         96161             5,700    643,057

[1483 rows x 3 columns]

DATA ANALYSIS & RESULTS: This section should include markdown text and code walking us through the following: 
- EDA - What distributions do your variables take? 
- Are there any outliers? - Relationship between variables? - Analysis (Note that you will likely have to do some Googling for analytical approaches not discussed in 
class. This is expected for this project and an important skill for a data scientist to master.) 
- What approaches did you use? Why? - What were the results? - What were your interpretation of these findings.

There must be at least three appropriate data visualizations​throughout these sections. Each visualization must included an interpretation of what is displayed *and* what should be learned from that visualization. Be sure that the appropriate type of visualization is generated given the data that you have, axes are all labeled, and the visualizations clearly communicate the point you’re trying to make.

ETHICS & PRIVACY: 
Briefly acknowledge and address any potential issues of ethics and privacy for the proposed project. In particular: 
- Did you have permission to use this data, for this purpose? - Are there privacy concerns regarding your datasets that you need to deal with, and/or terms of use that 
you need to comply with? - Are there potential biases in your dataset(s), in terms of who it composes, and how it was collected, that 
may be problematic in terms of it allowing for equitable analysis? (For example, does your data exclude particular populations, or is it likely to reflect particular human biases in a way that could be a problem?) - Are there any other issues related to your topic area, data, and/or analyses that are potentially problematic 
in terms of data privacy and equitable impact? - How did you handle issues you identified? 
(1-2 paragraphs)

CONCLUSION & DISCUSSION: Discuss your project. Summarize your data and question. Briefly describe your analysis. Summarize your results and conclusions. Be sure to mention any limitations of your project. Discuss the impact of this work on society. (2-3 paragraphs)